[submodule "qutebrowser/themes/qute-city-lights"]
	path = qutebrowser/themes/qute-city-lights
	url = https://github.com/gicrisf/qute-city-lights.git
[submodule "/home/saroj/.config/.dotconfig/tmux/plugins/tpm"]
	path = /home/saroj/.config/.dotconfig/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
