[submodule "qutebrowser/themes/qute-city-lights"]
	path = qutebrowser/themes/qute-city-lights
	url = https://github.com/gicrisf/qute-city-lights.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
